<div id="<%= dom_id plant %>">
  <p>
    <strong>Name:</strong>
    <%= plant.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= plant.type %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= plant.difficulty %>
  </p>

</div>
